@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');



body{
    background-color: #13151a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* !_--__--__--__--__--__--__--__--__--_Start Grid _--__--__--__--__--__--__--__--__--__--_ */
.box-section {
    width: 100%;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-grid {
    display: grid;
    /* background-color: rgb(28, 6, 108); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 3px;
    box-sizing: border-box;
    width: 80%;
    height: 580px;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}

.box-grid .search-box {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
    
}


.box-grid .profile-grid1,
.box-grid .profile-grid2{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}
.box-grid .columna3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}
.box-grid .columna4 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 7;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}
.box-grid .columna5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}
.box-grid .columna6 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}
.box-grid .columna7 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 10;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}

.box-grid .columna8 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 13;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}

.box-grid .columna9 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 13;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
    border: 2px solid #4d4c4c;
    border-radius: 6px;
}




/* !_--__--__--__--__--__--__--__--__--_End Grid _--__--__--__--__--__--__--__--__--__--_ */



/* *_--__--__--__--__--__--__--__--__--_ Start Content Grid _--__--__--__--__--__--__--__--__--__--_ */

 .search-box {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button-search {
    border-radius: 6px;
    width: 82px;
    background-color: #FDE047;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.icon-search {
    color: #383939;
}

.Button-search:hover{
    background-color: #fddf47b1;
}


/* !Css de los botones del grid de login y register */
.profile-grid2 {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.login {
    width: 135px;
    height: 42px;
    background-color: rgb(0, 255, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: all 0.2s ease;
    z-index: 55;
}

.login:hover {
    background-color:rgba(0, 255, 174, 0.788) ;
}


.text-login a {
    text-decoration: none;
    color: #1a1b1c;
    padding: 8px 13px;
    font-family: 'Roboto', sans-serif;
}

.button-register {
    width: 135px;
    height: 42px;
    background-color: rgb(0, 255, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.button-register:hover {
    background-color:rgba(0, 255, 174, 0.788) ;
}


.text-register a {
    text-decoration: none;
    color: #1a1b1c;
    padding: 8px 13px;
    font-family: 'Roboto', sans-serif;

}

/* !Css de los botones del grid de login y register */

.profile-grid1 {
    background: #00c3ff;  
    background: -webkit-linear-gradient(to right, #ffff1cd7, #00c3ff);
    background: linear-gradient(to right, #ffff1cd7, #00c3ff);  
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 12px;
}


.image-profile {
    width: 62px;
    height: 62px;
    overflow: hidden;
    border-radius: 100%;
    border: solid 1px #000000 ;
}

.image-profile img {
    width: 62px;
    height: 62px;
    
}

.text-bienvenida {
    padding-left: 12px ;
    display: flex;
    flex-direction: column;
    
    
}

.text-bienvenida p {
    color: #151414;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1px;
}
.text-bienvenida .name-usuario {
    color: #151414;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
}

.text-bienvenida strong {
    font-size: 26px;
}


.profile-icons {
    display: flex;
    margin-left: auto;
    font-size: 18px;
    padding-right: 5px;
    flex-direction: column;
   
}

.profile-icons a {
    transition: transform 0.5s ease;
}



.profile-icons a:hover {
    transform: scale(1.3);
}

.profile-icons a{
   padding: 6px;
}









/* *_--__--__--__--__--__--__--__--__--_ End Content Grid _--__--__--__--__--__--__--__--__--__--_ */


main{
    width: 1100px;
}

.contenedor_contenidos{
    display: flex;
    flex-wrap: wrap;
    width: 780px;
    height: auto;
    padding-bottom: 50px;
}

article{
    position: relative;
    transition: all .3s ease;
    width: 187.5px;
    height: 281px;
}

article .poster_pelicula img{
    width: 187.5px;
    height: 281px;
    box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
    padding: 4px;
}

article .imagen_vermas img{
    position: absolute;
    width: 180px;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8)); 
}

article:hover{
    transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}


article::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0,0,0,0.5) 50%, rgba(0,0,0) 95%);
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before{
    opacity: 1;
}

article:hover .imagen_vermas img{
    opacity: 1;
    transform: translateY(10%);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8)); /* Ajusta según sea necesario */
}

.seccion_contenido{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos{
    height: 281px;
    width: 300px;
    background-color: white;
    margin-bottom: 10px;
}

.datos img{
    height: 281px;
    width: 300px;
    object-fit: cover;
}

.itemCarrusel{
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid black;
}

.tarjetaCarrusel{
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.flechasCarrusel{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.titulo-pelis {
    font-family: 'Poppins', sans-serif;
}

