*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    background: url(/static/img/Fondo.jpg);
}

ul{
    list-style: none;
}

ul li {
    display: flex;
    margin-bottom: 10px; /* Ajusta la separación vertical entre elementos de la lista */
}

.cuadrito_texto{
    height: 50px;
    width: 160px; 
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Lobster', sans-serif;
    margin-left: 10px;
}

.cuadrito_texto p{
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(2, 2, 2) ;
}

.cuadrito{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}
.cuadrito1{

    background-color: rgb(45, 172, 45);
}

.cuadrito2{
    background-color: rgb(245, 245, 76);
}

.cuadrito3{
    background-color: rgb(212, 66, 66);
}

.cuadrito4{
    background-color: rgb(68, 85, 233);
}

.cuadrito5{
    background-color: rgb(223, 179, 59);
}