{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_colores.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>

    <div class="contenedor">
        <ul>
            <li>
                <div class="cuadrito cuadrito1">

                </div>
                <div class="cuadrito_texto">
                    <p>​#2dac2d</p>
                </div>
            </li>
            <li>
                <div class="cuadrito cuadrito2">

                </div>
                <div class="cuadrito_texto">
                    <p>​#f5f54c</p>
                </div>
            </li>
            <li>
                <div class="cuadrito cuadrito3">

                </div>
                <div class="cuadrito_texto">
                    <p>​#d44242</p>
                </div>
            </li>
            <li>
                <div class="cuadrito cuadrito4">

                </div>
                <div class="cuadrito_texto">
                    <p>​#4455e9</p>
                </div>
            </li>
            <li>
                <div class="cuadrito cuadrito5">

                </div>
                <div class="cuadrito_texto">
                    <p>​#dfb33b</p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>