{% extends 'base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_home.css' %}">
    
    <title>Home</title>
</head>

<body>

    <!-- /* !_--__--__--__--__--__--__--__--__--_Start Grid _--__--__--__--__--__--__--__--__--__--_ */ -->
   <section class="box-section">
        <header class="box-grid">   
            <div class="search-box">
                
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid ">
                      <form class="d-flex" role="search">
                        <input class="form-control me-5" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
            </div>



            <div class="profile-grid">
                <div class="login-grid">
                    <a href="#">Iniciar Sesion</a>
                </div>
                <div class="imagen-profile-grid">
                <img src="{% static 'img/Messi.jpg'%}" alt="Foto de prueba">
            </div>

            </div>
            <div class="columna3">3</div>
            <div class="columna4">4</div>
            <div class="columna5">5</div>
            <div class="columna6">6</div>
            <div class="columna7">7</div>
        </header>
   </section>



   <!-- /* !_--__--__--__--__--__--__--__--__--_End Grid _--__--__--__--__--__--__--__--__--__--_ */ -->










    
    
    <main>


        <h1 style="color: white;">PELICULAS POPULARES</h1>

        <section class="seccion_contenido">
            <div class=".contenedor_contenidos">
                {% for pelicula in peliculas %}
                <img src="{{ pelicula.imagen_url }}" alt="Poster de la película">
                {% endfor %}
            </div>
            <div class="lateral">
                <div class="datos_curiosos">
                    <p>DATOS CURIOSOS</p>
                </div>
                <div class="memes">
                    <p>MEMES</p>
                </div>
            </div>
        </section>

        <h1 style="color: white;">SERIES POPULARES</h1>

        <section class="seccion_contenido">
            <div class=".contenedor_contenidos">
                {% for serie in series %}
                    <img src="{{ serie.imagen_url }}" alt="Poster de la serie">
                {% endfor %}
            </div>
            <div class="lateral">
                <div class="datos_curiosos">
                    <p>DATOS CURIOSOS</p>
                </div>
                <div class="memes">
                    <p>MEMES</p>
                </div>
            </div>
        </section>


    </main>
</body>
</html>

{% endblock %}
