
{% extends 'base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_home.css' %}">
    <title>Home</title>
</head>

<body>
   
    <h1 style="color: white;">PELICULAS POPULARES</h1>
    {% for pelicula in peliculas %}
    <img src="{{ pelicula.imagen_url }}" alt="Poster de la película">
    {% endfor %}
    <h1 style="color: white;">SERIES POPULARES</h1>
    {% for serie in series %}
        <img src="{{ serie.imagen_url }}" alt="Poster de la serie">
    {% endfor %}
</body>
</html>
{% endblock %}

