{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo_pelicula_detalle.css'%}">
    <title>{{ pelicula.title }}</title>
</head>
<body>
    <main>
        <section class="seccion2">
            <h1>Titulo: {{ pelicula.title }}</h1>
            <p>Sinopsis: {{ pelicula.overview }}</p>
            <p>Generos: {% for genre in pelicula.genres %} ● {{ genre.name }} {% endfor %}</p>
            <p><strong>Fecha de Creación:</strong> {{ pelicula.release_date }}</p>
        
            <h5>POSTER</h5>

            <img style="height: 250px;" src="{{ pelicula.imagen_url }}">

            <hr>

            <h5>IMAGENES PREVIAS</h5>
        
            {% for imagen in imagenes %}
                <img loading="lazy" style="height: 100px;"  src="https://image.tmdb.org/t/p/original{{ imagen.file_path }}" alt="Imagen Adicional">
            {% endfor %}

            <hr>

            <h5>REPARTO</h5>
                
            {% for actor in reparto %}
                <div>
                    <img src="{{ actor.profile_image }}" alt="{{ actor.name }}">
                    <p>{{ actor.name }}</p>
                </div>
            {% endfor %}  


        </section>   
    </main>
</body>
</html>

{% endblock %}